
  .form-label {
    font-weight: bold;
    color: #087386;
  }

  .form-section {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  .btn-custom {
    background-color: #087386;
    color: white;
  }
  .btn-custom:hover {
    background-color: #065c6c;
  }
  